<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} %-5level [%-40.40logger{39}] --- %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
